<div class="surveys-list">
    <table class="table" *ngIf="selectedSurvey === null">
        <thead>
        <tr>
            <th *ngFor="let column of columns" scope="col">{{column}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let survey of surveys | async; let i=index" (click)="selectSurvey(i)" class="survey-item">
            <td scope="row">{{survey.asset?.assetAddress.resolvedAddress}}</td>
            <td scope="row">{{survey.inspector?.name}}</td>
            <td scope="row">{{survey.asset?.assetAddress.subLocality}}</td>
            <td scope="row">{{survey.leak}}</td>
            <td scope="row">{{survey.dateOfSurvey}}</td>
            <td scope="row">{{survey.startTime | date:'mediumTime'}}</td>
            <td scope="row">{{survey.endTime | date:'mediumTime'}}</td>
            <td scope="row">{{survey.distanceTravelled}}</td>
        </tr>
        </tbody>
    </table>


    <div class="survey-detail container-fluid" *ngIf="selectedSurvey !== null">

        <div class="row back-btn" (click)="onBack()"><h2>&#8592; Back to list</h2></div>

        <div class="row">
            <ngui-map style="height: 400px; width: 100%" zoom="18" center={{center}} (zoom_changed)="zoomChanged($event)">
                <polyline [path]="path"></polyline>
            </ngui-map>
        </div>

        <div class="row">
            <div class="col-12">
                <h4><strong>{{selectedSurvey.asset.assetAddress.resolvedAddress}}</strong></h4>
                <h5>{{selectedSurvey.dateOfSurvey | date:'MMM dd, yyyy'}} By {{selectedSurvey.inspector.name}}</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <span class="pull-left"><strong>Asset ID: </strong></span>
                <span class="pull-right">{{selectedSurvey.asset.assetId}}</span>
            </div>
            <div class="col-6">
                <span class="pull-left"><strong>Start Time: </strong></span>
                <span class="pull-right">{{selectedSurvey.startTime | date:'mediumTime'}}</span>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <span class="pull-left"><strong>Material Type: </strong></span>
                <span class="pull-right">{{selectedSurvey.asset.materialType}}</span>
            </div>
            <div class="col-6">
                <span class="pull-left"><strong>End Time: </strong></span>
                <span class="pull-right">{{selectedSurvey.endTime | date:'mediumTime'}}</span>
            </div>
        </div>


        <div class="row">
            <div class="col-6">
                <span class="pull-left"><strong>Installation Date: </strong></span>
                <span class="pull-right">{{selectedSurvey.asset.installationDate}}</span>
            </div>
            <div class="col-6">
                <span class="pull-left"><strong>Distance Travelled: </strong></span>
                <span class="pull-right">{{selectedSurvey.distanceTravelled}}</span>
            </div>
        </div>

    </div>

</div>